# cmake standard build
/_build

# dynamicaly configured files
/make.cmd
/Makefile
/code/config.h
/support/packages/obs/_service
/ressources/rrdio.qrc
/CMakeLists.txt.user*
/*.log

# In source build
/*.cpp
/*.cxx
/CMakeFiles
/CMakeCache.txt
/cmake_install.cmake
/compile_commands.json
/deps/CMakeFiles/
/deps/Makefile
/deps/cmake_install.cmake
/deps/libmd5.a
/nbproject/
/ressources/CMakeFiles
/ressources/Makefile
/ressources/cmake_install.cmake
/ressources/box_icons.qrc.depends
/ressources/cssressource.qrc.depends
/ressources/icons.qrc.depends
/ressources/images.qrc.depends
/ressources/pixmaps.qrc.depends
/ressources/rrdio.qrc.depends
/ressources/tree.qrc.depends
/ressources/darcula.qrc.depends
/ressources/operator-ui.qrc.depends
/sysmo-operator
