# emacs
/*~

# build
/*.o
/moc_*
/qrc_*

/Makefile

/sysmo-operator
/sysmo-operator.pro.user*
/sysmo-operator.pro.desktop

/rrd4qt/*.iml
/rrd4qt/.idea

/rrd4qt/build/*
!/rrd4qt/build/install/
/rrd4qt/.gradle

/ressources/rrd4qt
