[Desktop Entry]
Encoding=UTF-8
GenericName=Sysmo Operator client UI
Name=Sysmo Operator
Exec=sysmo-operator
Icon=sysmo
Terminal=false
Type=Application
Categories=Application;Utility;