<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:fw="http://schemas.microsoft.com/wix/FirewallExtension">

    <Product
        Name='Sysmo Operator UI'
        Id='*'
        UpgradeCode='8999771C-F49B-462C-AB3D-CD84432DD585'
        Language='1033'
        Codepage='1252'
        Version='@OPERATOR_VERSION@'
        Manufacturer='Sysmo MNS'>

        <Package
            Id='*'
            Keywords='Sysmo Operator UI Installer'
            InstallScope='perMachine'
            InstallPrivileges="elevated"
            Description="Sysmo Operator UI @OPERATOR_VERSION@ Installer"
            Comments='Sysmo is released under the GPL license.'
            Manufacturer='Sysmo MNS'
            InstallerVersion='400'
            Languages='1033'
            Compressed='yes'
            ReadOnly="yes"
            SummaryCodepage='1252' />

        <MajorUpgrade
            DowngradeErrorMessage="
A later version of [ProductName] is already installed. Setup will now exit.
"       />

        <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
        <Property Id='DiskPrompt' Value="Sysmo $(env.REL_VER) Installation [1]" />
        <Property Id="MSIFASTINSTALL" Value="7" />
        <Icon Id="sysmo.ico" SourceFile="support\pkgs\win\sysmo.ico" />
        <Property Id="ARPPRODUCTICON" Value="sysmo.ico" />

        <Directory Id='TARGETDIR' Name="@WIX_SOURCE_DIR@">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLLOCATION" Name="Sysmo NMS" />
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="Sysmo" />
            </Directory>

            <!-- registry keys -->
            <Component Id="SysmoRegKeys" Guid='8999771C-F49B-462C-AB3D-CD84432DD586'>
                <RegistryKey
                    Id="SysmoRegContent"
                    Root="HKLM"
                    Key="Software\Sysmo\Sysmo Operator"
                    ForceCreateOnInstall="yes">
                    <RegistryValue Type="string" Name="CurrentVersion"  Value="@OPERATOR_VERSION@" />
                    <RegistryValue Type="string" Name="InstallLocation" Value="[INSTALLLOCATION]" />
                </RegistryKey>
                <RegistryKey
                    Id="SysmoNChecksRegContent"
                    Root="HKLM"
                    Key="Software\Sysmo\NChecks"
                    ForceCreateOnInstall="yes" />
            </Component>
        </Directory>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="SysmoApplicationShortcut" Guid='8999771C-F49B-462C-AB3D-CD84432DD587'>
                <Shortcut
                    Id="ApplicationStartMenuShortcut"
                    Name="sysmo"
                    Description="User interface for the Sysmo NMS monitoring system."
                    Target="[INSTALLLOCATION]\sysmo-operator\sysmo.exe"
                    WorkingDirectory="APPLICATIONROOTDIRECTORY" />
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
                <RegistryValue
                    Root="HKCU"
                    Key="Software\Microsoft\Sysmo Operator"
                    Name="installed" Type="integer"
                    Value="1" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <Feature Id='Complete' Level='1'>
            <ComponentGroupRef  Id='AllFiles' />
            <ComponentRef       Id="SysmoApplicationShortcut" />
            <ComponentRef       Id="SysmoRegKeys" />
        </Feature>

    </Product>
</Wix>
